body {
  font-family:'Work Sans';
}
#info {
  background-color: rgba(175,175,140,0.3);
  float: right;
  position:fixed;
}

h2 {
  font-family: 'Work Sans';
}
#wrapper {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  margin-left: -8%;
  margin-top: 45px;
}

#container {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rgba(175,175,140,0.3);
  display:none;
}
#lookie {
  position:fixed;

  /*position:absolute;*/
  /*top: 200px;*/
  left:17%;
  width:80%;
  margin: 20% auto;
  /*margin-left: -250px;*/
  /*border: 1px solid blue;*/
  padding: 20px;
  background: rgba(255, 0, 0, 0);
}

#next {
  -webkit-animation-name : blinker;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function:linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
  0% {opacity: 1.0;}
  50% {opacity: 0.0;}
  100% {opacity: 1.0;}
}

@-webkit-keyframes blinker {
  0% {opacity: 1.0;}
  50% {opacity: 0.0;}
  100% {opacity: 1.0;}
}

@keyframes blinker {
  0% {opacity: 1.0;}
  50% {opacity: 0.0;}
  100% {opacity: 1.0;}
}
